* {
  box-sizing: border-box;
}

nav {
  color: chocolate;
}

section {
  padding-top: 5vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* .container {
  margin: 0;
} */

#job_detail {
  width: 70vw;
  margin: 0vw 0vw 0vw -10vw !important;
  
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
}


